// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/maps";
@import "../../bootstrap/scss/mixins";
@import "../../bootstrap/scss/utilities";
@import "../../bootstrap/scss/utilities/api";
@import "../../bootstrap/scss/mixins/_table-variants.scss";

// Import specific components
@import "../../bootstrap/scss/root";
@import "../../bootstrap/scss/reboot";
@import "../../bootstrap/scss/type";
@import "../../bootstrap/scss/images";
@import "../../bootstrap/scss/containers";
@import "../../bootstrap/scss/grid";
@import "../../bootstrap/scss/helpers";
@import "../../bootstrap/scss/alert";
@import "../../bootstrap/scss/_tables.scss";
@import "../../bootstrap/scss/_buttons.scss";
@import "../../bootstrap/scss/_modal.scss";
@import "../../bootstrap/scss/_forms.scss";
@import "../../bootstrap/scss/_utilities.scss";

// Component imports
@import "../../bootstrap/scss/card"; // Card component

.hover-zoom {
  transition: transform 0.3s ease-in-out;
}

#shoppingCart.hover-zoom {
  &:hover {
    transition: all 100ms ease-in;
    transform: scale(1.2);
  }
}
.hover-zoom {
  transition: all 200ms ease-out;

  &:hover {
    // https://stackoverflow.com/questions/57518130/css-ease-in-out-scale
    transition: all 100ms ease-in;
    transform: scale(1.01);
  }
}

.hover-shadow {
  transition: box-shadow 0.3s ease-in-out;
}
.hover-shadow:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
